<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Learning Italian - Menu</title>
</head>
<body>
    <div class="menu-wrapper">
        <nav class="menu">
            <h1>Learning Italian</h1>
            <div class="section">
                <h2>Games</h2>
                <button onclick="window.location.href='{{ url_for('vocabulary_test_options') }}'">Vocabulary Test</button>
                <button onclick="window.location.href='{{ url_for('flash_card_options') }}'">Flash Card Game</button>
            </div>
            <div class="section">
                <h2>Admin</h2>
                <button onclick="window.location.href='{{ url_for('import_words') }}'">Import Words</button>
                <button onclick="window.location.href='{{ url_for('show_dictionary') }}'">Show Dictionary</button>
            </div>
        </nav>
    </div>
</body>
</html>
